.footer
    background-color: #c9dce6
    padding: 20px 0
    color: #505050
    font: 400 12px "Lucida"
    &__wrap
        display: flex
        justify-content: space-between
        align-items: center

.socials-list
    list-style: none
    display: flex
    justify-content: space-between
    width: 88px

@media (max-width: 540px)
    .footer
        &__wrap
            flex-wrap: wrap
            justify-content: center